name: Refresh `edge`

on:
  push:
    branches:
    - main

jobs:
  Edge:
    runs-on: ubuntu-latest

    timeout-minutes: 5

    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        # so that we know what to cherry-pick from
        fetch-depth: 2

    - name: Update `edge`
      env:
        GIT_AUTHOR_NAME: "Mir CI Bot"
        GIT_AUTHOR_EMAIL: "mir-ci-bot@canonical.com"
        GIT_COMMITTER_NAME: "Mir CI Bot"
        GIT_COMMITTER_EMAIL: "mir-ci-bot@canonical.com"
      run: |
        # bring any "next" changes in, except for the unpinning
        git fetch origin edge
        [ -z "$( git log HEAD..origin/edge^)" ] || git cherry-pick HEAD..origin/edge^

        # unpin dependencies
        sed -i 's/^grade: .*/grade: devel/' snap/snapcraft.yaml
        sed -i '/source-tag: /d' snap/snapcraft.yaml
        git add snap/snapcraft.yaml
        git commit --message "Unpin dependencies"
        git push --force origin HEAD:edge
